#mainTopic{
 color:blue;
}
*{
    text-align: center;
    background-color: lightblue;
}
h1,h2,h3,h4,h5,h6{
   font-family:georgia;
}
p{
    color:#fff;
    background-color:cornflowerblue
}
div button{
    color:azure;
    background-color:purple;

}
button:hover{
    background-color:yellow;
    color:blue
}
h1:first-letter{
    color:red;
}
#yes:checked+label{
 color:darkgreen;

}
p:nth-last-of-type(1),
p:nth-last-of-type(1){
    color: yellow;
}
